body        {background-image: url(background_png.png);}

.circleB    {border: 2px dashed white;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0);
            width: 470px;
            height: 470px;
            text-align: center;
            line-height: 100px;
            position: fixed;
            top: 30%;
            left: 37%;
            transform: translate(-50%, -50%);}

.circleB:first-child{animation: rot infinite linear 2s;}

@keyframes rot{
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

h1          {color: white; 
            font-family: 'Roboto Mono', serif;
            font-size: 20px;
            text-align: center; 
            position: fixed; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter:drop-shadow(0px 0px 3px grey);
            transition: ease-in-out 3s;}

h1:hover    {animation: flicker .5s infinite}

@keyframes flicker{
    0% {opacity: 0;}
    20% {opacity: 0.7;}
    45% {opacity: 1;}
    70% {opacity: 0;}
    90% {opacity: 0.3;}
    100% {opacity: 1;}
}

.oFio       {color:red;
            filter:drop-shadow(0px 0px 3px red)}


p          {color: white;
           font-size: small;
           text-align: center;
           top: 50%;
           left: 50%;
           
        }